<div class="panel-body">
  <%= f.input :name, label: 'Name'%>
</div>
<div class="panel-body">
  <%= f.button :submit, 'Save',class: 'btn btn-success' %>
  <%= link_to 'Cancel', events_path, class: 'btn btn-warning'%>
</div>
