<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_in', :default => "Events") %><%= link_to 'Add Event', new_event_path, class: 'btn btn-primary index_btn right_align'%></h4>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%- @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class: 'btn'%></td>
      </tr>
    <% end %>
  </tbody>

</table>
