<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_in', :default => "Edit Bill") %></h4>
  </div>
  <%= simple_form_for @bill, url: bill_url do |f| %>
    <%= render 'form', :f => f %>
  <% end %>
</div>
